<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
           <a class="site-title" rel="author" href="#">{{ site.title | escape }}</a>
      </div>

      <div class="footer-col footer-col-2">
		{%- include social.html -%}
        <p>{{- site.description | escape -}}</p>
		<p>
			Proof of Ape:<br/>
			<a href="http://etherscan.io/verifySig/2394" target="_blank">http://etherscan.io/verifySig/2394</a>
		</p>
		<p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">RSS</a></p>
      </div>
    </div>

  </div>

</footer>
