---
layout: default
---
<main class="art h-entry" itemscope itemtype="http://schema.org/BlogPosting">

	<div class="art-content e-content" itemprop="articleBody">
		{% if page.type == "image" %}
		<img src="{{ page.art_url }}" alt="{{ page.title | escape }} by {{page.artist}}" />
		{% else if page.type == "video" %}
		<video controls autoplay muted loop controlsList="nodownload">
			<source src="{{ page.art_url }}">
			Your browser does not support the video tag.
		</video>
		{% else if page.type == "audio" %}
		{% endif %}
	</div>

	<div class="art-details">
		<h1>
			<strong><a href="{{ page.artist_url }}">{{ page.artist }}</a></strong>
			{% if page.artist_birth %}
			(b.&nbsp;{{ page.artist_birth }})
			{% endif %}
		</h1>
		<h1 class="art-title p-name" itemprop="name headline"><i><strong>{{ page.title | escape
					}},</strong></i>&nbsp;{{page.year}}</h1>
		<p>{{page.type | capitalize}} - {{page.edition}}</p>
		<p class="">{{page.caption}}</p>
	</div>

	{%- if site.disqus.shortname -%}
	{%- include disqus_comments.html -%}
	{%- endif -%}

	<a class="u-url" href="{{ page.url | relative_url }}"></a>
</main>

{%- include pagination.html-%}

<div class="double-column">
	{{content}}
</div>