---
layout: default
---
<main class="art h-entry" itemscope itemtype="http://schema.org/BlogPosting">

	<div class="art-content e-content" itemprop="articleBody">
		{% if page.type == "image" %}
		<img src="{{ page.art_url }}" alt="{{ page.title | escape }} by {{page.artist}}" />
		{% else if page.type == "video" %}
		<video controls autoplay muted loop controlsList="nodownload">
			<source src="{{ page.art_url }}">
			Your browser does not support the video tag.
		</video>
		{% else if page.type == "audio" %}
		{% else %}
		yeet
		{% endif %}
	</div>

	<div class="art-details">
		<h1 class="art-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
		<h2>by <a href="{{ page.artist_url }}">{{ page.artist }}</a> c.&nbsp;{{page.year}}</h2>
		<p class="bold">{{page.edition}}</p>
	</div>

	{%- if site.disqus.shortname -%}
	{%- include disqus_comments.html -%}
	{%- endif -%}

	<a class="u-url" href="{{ page.url | relative_url }}"></a>
</main>

<div class="double-column">
	{{content}}
</div>
