---
layout: default
---

<div class="home">
	{%- if page.title -%}
	<h1 class="page-heading">{{ page.title }}</h1>
	{%- endif -%}

	{{ content }}

	{%- if site.posts.size > 0 -%}
	<div class="double-column">
		<!-- assign posts to correct category -->
		{% assign art_pieces = "" | split: "" %}
		{% assign posts = "" | split: "" %}
		{% for post in site.posts %}
		{% if post.layout == 'art' %}
		{% assign art_pieces = art_pieces | push: post %}
		{% else if post.layout == 'post' %}
		{% assign posts = posts | push: post %}
		{% endif %}
		{% endfor %}

		{% if art_pieces.size > 0 %}
		<div class="column">
			<h1>Collection</h1>
			<ul class="post-list">

				{% comment %} this is not pretty but it works {% endcomment %}
				{% assign artists = "" | split: "" %}
				{%- for post in art_pieces -%}
				{%- unless artists contains post.artist -%}
				{%- assign artists = artists | push: post.artist -%}
				{%- endunless  -%}
				{%- endfor -%}

				{%- assign artists = artists | sort -%}

				{%- for artist in artists -%}
				<li>
					<h2 class="list-title">{{artist}}</h2>
					{%- assign art_pieces = art_pieces | sort: year -%}
					{%- for post in art_pieces -%}
					{%- if post.artist == artist -%}
					<a class="post-link" href="{{ post.url | relative_url }}">
						{{ post.art_title | escape }}, {{ post.year | escape }}
					</a>
					{%- endif -%}
					{%- endfor -%}
				</li>
				{%- endfor -%}
			</ul>
		</div>
		{%- endif -%}
		{% if posts.size > 0 %}
		<div class="column">
			<h1>Writing</h1>
			<ul class="post-list">
				{%- for post in posts -%}
				{% if post.layout == "post" %}
				<li>
					<h2 class="">
						<a class="" href="{{ post.url | relative_url }}">
							{{ post.title | escape }}
							<p class="post-meta">{{ post.date | date: "%-d %B %Y" }}</p>
						</a>
					</h2>
				</li>
				{%- endif -%}
				{%- endfor -%}
			</ul>
		</div>
		{%- endif -%}
	</div>
	{%- endif -%}

</div>